<style>
    td {
        padding-right: 20px;
    }
    
</style>
<head>
    <script src="https://kit.fontawesome.com/41f0632842.js" crossorigin="anonymous"></script>
</head>
<div class="header">
    
<table>

    <tr>
       
        <td><a asp-page="/Index">Home <i class="fa-solid fa-envelope"></i></a></td>
        <td><a asp-page="/Usuarios/Index">Usuarios <i class="fa-solid fa-users"></i></a></td>
        <td><a asp-page="/Transacoes/Index">Transação <i class="fa-solid fa-money-bill"></i></a></td>
        <td><a asp-page="/Categorias/Index">Categorias <i class="fa-solid fa-shop"></i></a></td>
        <td><a asp-page="/Calendarios/Index">Calendario <i class="fa-regular fa-calendar"></i></a></td>
        <td><a asp-page="/Eventos/Index">Eventos <i class="fa-regular fa-credit-card"></i></a></td>
        <td><a asp-page="/Investimentos/Index">Investimentos <i class="fa-solid fa-coins"></i></a></td>




    </tr>
</table>
</div>
